<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Chatting -->
  <ion-tab title="Chat" icon-off="ion-ios-chatbubble-outline" icon-on="ion-ios-chatbubble" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>

  <!-- Photos -->
  <ion-tab title="Photos" icon-off="ion-ios-camera-outline" icon-on="ion-ios-camera" href="#/tab/photos">
    <ion-nav-view name="tab-photos"></ion-nav-view>
  </ion-tab>

  <!-- Photos -->
  <ion-tab title="Lists" icon-off="ion-heart" icon-on="ion-heart-broken" href="#/tab/lists">
    <ion-nav-view name="tab-lists"></ion-nav-view>
  </ion-tab>

</ion-tabs>
